https://www.kaggle.com/c/santander-customer-satisfaction

just practicing grid search hehe :)

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('train.csv.zip', compression='zip')
test = pd.read_csv('test.csv.zip', compression='zip')

In [3]:
train.head(5)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [4]:
train['TARGET'].value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [5]:
train.isnull().sum().max()

0

In [6]:
test.head(5)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [7]:
print(set(train) - set(test))

{'TARGET'}

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.model_selection import StratifiedShuffleSplit

In [15]:
param_grid = {'rf__max_depth': [3, 10, 26, None],
              'rf__max_features': [1, 3, 10],
              'rf__n_estimators': [100, 200, 500],
              'rf__random_state': [1,123456, 26]
             }

pipeline= Pipeline( [('imputer',Imputer(missing_values='NaN', strategy='mean', axis=0)),
                    ('rf', RandomForestClassifier(random_state=26, n_estimators=))])


#random_search = RandomizedSearchCV(pipeline,cv=StratifiedShuffleSplit(), param_distributions=param_grid,n_iter=1, n_jobs=3)
#random_search.fit(train.drop('TARGET', axis=1), train['TARGET'])

#pd.DataFrame(random_search.cv_results_)

model = pipeline

In [23]:
#model = RandomForestClassifier(max_depth=26, max_features=1, n_estimators=100, random_state=26)
model.fit(train.drop('TARGET', axis=1), train['TARGET'])
result = model.predict(test)

In [24]:
result = pd.DataFrame(data=result, columns=['TARGET'], index=test['ID'])
result['TARGET'].value_counts()

0    75375
1      443
Name: TARGET, dtype: int64

In [18]:
result.head(5)

    TARGET
ID
2        0
5        0
6        0
7        0
9        0

In [20]:
result.to_csv('random_f_submission.csv')